 /* Navbar */

.navbar {
    background-color: #375663;
    /* height: 50px; */
    z-index: 999;
  position: absolute;
  margin-bottom:0px;
  }
  
   /* Navbar text */

  .text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  /* Navbar logo */

  .navbar-brand img {
    width: 50px;
    height: 50px;
    margin-top: -23px;

  }

  /* Navbar dropdown toggle-text */
  @media (min-width: 768px){
  .navbar-nav .dropdown-toggle {
    margin-top: -50px;

  }
}
  /* .navbar-nav .dropdown-toggle {
  } */

   /* Video, Index page */

  video {
    /* Removed because video was covering nav */
    /* object-fit: cover; */

    /* Remove to get video to cover screen. dev */
    /* width: 100vw;  */
    /* height: 500px; */
    /* z-index: -1; */

    /* Add to get video to cover screen. dev */
    max-width: 100%;
    min-height: 80%;

    /* Center on page instead of fixing to center */
    /* position: fixed; */
    top: 0;
    left: 0;
  }


  /* Carousel, About page */

  .carousel-item {
    height: 500px;
    width: 100%;
    background-size: cover;
  }
  
   /* Carousel container page */
   
  .carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
  }

  /* Carousel image assets */

  .carousel-inner img {
    width: 100%;
    height: 500px;
    max-height: 600px;
    object-fit: cover;
  }

  /* Carousel positioning */

  #myCarousel {
   /*  margin-top: -15%;adjust this value to move the carousel up or down*/
    /*  dev */
    /* z-index: -1; */
    min-height:100%;
    position: relative;
 }
/* Carousel container positioning */

 .container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 88vh; */
  padding-top: 50px;
  margin-top: 30px;
}

 /* Contact page, background image */
 
  body {
    background-image: url("Images/Color/1x/Social\ Post.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
  }
  
  /* .toggle-container {
    float: left;
  }
  
  .logo-container {
    float: right;
  } */

  
   /* Footer*/

   .h-center {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bolder;
  }


  footer {
    background-color: #375663;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 24%;
  }

 